## Prelim_AMPATIN

Import libraries needed that would help to make the codes more accesssible and possible to work.

In [1]:
#import libraries
import pandas as pd

#from scikit_learn, import modules needed
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Prepare the data needed, these involves choosing right data and sorting null values and dropping them.

In [2]:
titanic=pd.read_csv('titanic_dataset.csv')

In [3]:
print(len(titanic))
print(titanic.head())

1309
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [4]:
#display the dataset
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
titanic.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [6]:
titanic=titanic.drop(columns=['name','cabin','boat','body','home.dest','ticket'])
titanic=titanic.dropna(subset=['age','embarked','fare'])
titanic.isna().sum()

pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [7]:
titanic['sex'].unique()
sex={'male': 1, 'female': 0}
titanic['sex'].replace(sex, inplace=True)

In [8]:
titanic['embarked'].unique()
embarked={'C': 3, 'S': 2, 'Q': 1}
titanic['embarked'].replace(embarked, inplace=True)

In [9]:
X=titanic.drop(columns=['survived'])
y=titanic['survived']

Choosing a model, in here you have to consider everything in choosing. Here training and testing the right data helps you show the right result of the algorithm.

In [10]:
#Logistic Regression
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.40)
prediction=LogisticRegression()
prediction.fit(X_train,y_train)
y_prediction=prediction.predict(X_test)

C:\Users\camil\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Display the result of the algorithm.

In [11]:
#display accuracy
accuracy=accuracy_score(y_test, y_prediction)
accuracy

0.7727272727272727